.container {
  margin-bottom: 2rem;
  overflow-x: hidden;
}
.animated {
  transition: 1s ease-out;
  position: relative;
  right: -100%;
}

.animatedIn {
  right: 0;
}

.title {
  font-weight: 500;
}
