.container {
  width: 100%;
  min-height: 30vh;
}

.searchbar {
  position: relative;
  left: -100%;
  width: 100%;
  min-height: 30vh;
  background-color: #5ca4d4; /* secondary */
  background: linear-gradient(to right, #5ca4d4 0%, #5484b4 100%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease-out;
}
.containerIn {
  left: 0;
}
