.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 998;
  box-shadow: 0px -3px 5px 5px #2c3c4c;
}

.child {
  opacity: 0.9;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: 1s ease-out linear;
}

.child div {
  text-align: center;
}

.icon {
  cursor: pointer;
}

.icon:active {
  background-color: #5ca4d4;
}

.icon p {
  margin: 0;
  color: black;
  font-size: 1rem;
}
